<div class="live-cut-section">
  <h2>INICIAR CORTE DA TRANSMISSÃO AO VIVO</h2>
  <form (ngSubmit)="corteLive()">
    <mat-form-field appearance="fill">
      <mat-label>URL da Stream</mat-label>
      <input matInput [(ngModel)]="streamUrl" name="streamUrl" placeholder="Insira a URL da transmissão" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome da Rádio</mat-label>
      <input matInput [(ngModel)]="radioName" name="radioName" placeholder="Insira o nome da rádio" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Iniciar Corte</button>
  </form>
<div class="container">
  <div class="section radios">
    <h2>Selecione uma Rádio</h2>
    <mat-form-field appearance="fill">
      <mat-label>Rádio:</mat-label>
      <mat-select [(ngModel)]="selectedRadio" (selectionChange)="onRadioSelect()">
        <mat-option *ngFor="let radio of radios" [value]="radio">{{ radio }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="section audio-files">
    <h2>Selecione um Áudio de uma Rádio</h2>
    <mat-form-field appearance="fill">
      <mat-label>Áudio:</mat-label>
      <mat-select [(ngModel)]="selectedAudio" (selectionChange)="onAudioFileSelect()">
        <mat-option *ngFor="let file of audioFiles" [value]="file">{{ file }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="section audio-player">
    <h2>Player de Áudio</h2>
    <div class="controls">
      <button mat-icon-button (click)="stepBackward()">&#9664;&#9664;</button>
      <button mat-icon-button (click)="togglePlayPause()">
        {{ isPlaying ? '&#10074;&#10074;' : '&#9654;' }}
      </button>
      <button mat-icon-button (click)="stepForward()">&#9654;&#9654;</button>
    </div>
  </div>

  <div class="section cut-range">
    <h2>Definir Corte de Áudio</h2>
    <ngx-slider [(value)]="range[0]" [(highValue)]="range[1]" [options]="sliderOptions" class="cut-slider"></ngx-slider>

    <div class="time-inputs">
      <div class="control">
        <label for="startTime">Início do corte</label>
        <input type="number" [(ngModel)]="range[0]" step="0.01" (change)="seekTo(range[0])">
      </div>
      <br>
      <br>
      <div class="control">
        <label for="endTime">Final do corte</label>

        <input type="number" [(ngModel)]="range[1]" step="0.01" (change)="seekTo(range[1])">
      </div>
    </div>

    <p>Tempo atual: {{ currentTime }}s</p>

    <button mat-raised-button color="primary" (click)="onCutAudio()">Fazer Corte</button>
  </div>

  <div *ngIf="isCutting" class="progress-section">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <p>{{ progress }}% completo</p>
  </div>

  <!-- Mensagem de sucesso -->
  <div *ngIf="cutCompleted" class="success-message">
    <mat-card>
      <mat-card-content>
        <h3>Corte feito com sucesso!</h3>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="section subfolder-selection">
    <h2>Selecione uma data</h2>
    <mat-form-field appearance="fill">
      <mat-label>Data:</mat-label>
      <mat-select [(ngModel)]="selectedSubfolder" (selectionChange)="onSubfolderSelect()">
        <mat-option *ngFor="let subfolder of subfolders" [value]="subfolder">
          {{ subfolder }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="section subfolder-audio-files">
    <h2>Selecione um corte</h2>
    <mat-form-field appearance="fill">
      <mat-label>Corte:</mat-label>
      <mat-select [(ngModel)]="selectedAudio" (selectionChange)="onAudioFileSelect()">
        <mat-option *ngFor="let file of filesInSelectedSubfolder" [value]="file">
          {{ file }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="section audio-player">
    <h2>Player de Corte</h2>
    <audio #audioPlayer controls>
      <source [src]="audioUrl" type="audio/mpeg">
      Seu navegador não suporta o elemento de áudio.
    </audio>
  </div>